---
layout: default
title: DisProt
permalink: "/disprot/"
comments: false
---
<div class="rounded mb-5 disprot-blog-header">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-6">
            <img width="300" src="{{site.baseurl}}/assets/images/DisProt_prot_vect_white_outline.svg">
        </div>

    </div>
</div>

<!-- Posts List with Sidebar (except featured) -->
<section class="row">
    <div class="col-md-8">
        <div class="row">
            {% for post in site.posts %}
            {% if post.topic == "disprot" %}
            <div class="col-lg-6 mb-5">
                {% include postbox.html %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-4">
        <a href="https://twitter.com/DisProt_db"> @DisProt_db</a>
        <a class="twitter-timeline" href="https://twitter.com/DisProt_db"
           data-chrome="nofooter noheader transparent" data-aria-polite="assertive" data-tweet-limit="2">
        </a>
    </div>
</section>
