---
layout: default
title: PED
permalink: "/ped/"
comments: false
---

<div class="rounded mb-5 ped-blog-header">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-6">
            <img width="230" src="{{site.baseurl}}/assets/images/PED_logo_white.svg">
        </div>

    </div>
</div>

<!-- Posts List with Sidebar (except featured) -->
<section class="row">
    <div class="col-md-8">
        <div class="row">
            {% for post in site.posts %}
            {% if post.topic == "ped" %}
            <div class="col-lg-6 mb-5">
                {% include postbox.html %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-4">
        <a href="https://twitter.com/proteinensemble"> @proteinEnsemble</a>
        <a class="twitter-timeline" href="https://twitter.com/proteinEnsemble"
           data-chrome="nofooter noheader transparent" data-aria-polite="assertive" data-tweet-limit="2">
        </a>
    </div>
</section>
